<img src="assets/logo.png" alt="logo">
<br>
<ul>

  <li>
      <a href="#">Dashboard</a>
  </li>
  <li>
      <a href="#">Shortcuts</a>
  </li>
  <li>
      <a href="#">Overview</a>
  </li>
  <li>
      <a href="#">Events</a>
  </li>
  <li>
      <a href="#">About</a>
  </li>
  <li>
      <a href="#">Services</a>
  </li>
  <li>
      <a href="#">Contact</a>
  </li>
  <li>
    <a href="#">Contact</a>
</li>
<li>
  <a href="#">Contact</a>
</li>
<li>
  <a href="#">Contact</a>
</li>
<li>
  <a href="#">Contact</a>
</li>
</ul>
